<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>nameLists</key>
	<array>
		<dict>
			<key>BankName</key>
			<string>建设银行</string>
		</dict>
		<dict>
			<key>BankName</key>
			<string>工商银行</string>
		</dict>
		<dict>
			<key>BankName</key>
			<string>中国银行</string>
		</dict>
		<dict>
			<key>BankName</key>
			<string>农业银行</string>
		</dict>
		<dict>
			<key>BankName</key>
			<string>交通银行</string>
		</dict>
		<dict>
			<key>BankName</key>
			<string>广发银行</string>
		</dict>
		<dict>
			<key>BankName</key>
			<string>招商银行</string>
		</dict>
		<dict>
			<key>BankName</key>
			<string>平安银行</string>
		</dict>
		<dict>
			<key>BankName</key>
			<string>兴业银行</string>
		</dict>
		<dict>
			<key>BankName</key>
			<string>民生银行</string>
		</dict>
		<dict>
			<key>BankName</key>
			<string>华夏银行</string>
		</dict>
		<dict>
			<key>BankName</key>
			<string>中信银行</string>
		</dict>
		<dict>
			<key>BankName</key>
			<string>光大银行</string>
		</dict>
		<dict>
			<key>BankName</key>
			<string>邮政银行</string>
		</dict>
		<dict>
			<key>BankName</key>
			<string>北京银行</string>
		</dict>
		<dict>
			<key>BankName</key>
			<string>渤海银行</string>
		</dict>
		<dict>
			<key>BankName</key>
			<string>上海银行</string>
		</dict>
		<dict>
			<key>BankName</key>
			<string>宁波银行</string>
		</dict>
		<dict>
			<key>BankName</key>
			<string>浙商银行</string>
		</dict>
		<dict>
			<key>BankName</key>
			<string>杭州银行</string>
		</dict>
		<dict>
			<key>BankName</key>
			<string>北京农商银行</string>
		</dict>
		<dict>
			<key>BankName</key>
			<string>徽商银行</string>
		</dict>
	</array>
</dict>
</plist>
